/* #region Global Rules */
:root {
    --primary: #006a94;
    --secondary: #79c8c7;
    --accent: #d4a24a;
    --bg-base: #f7f5f2;
    --bg-dark: #043c5a;
    --bg-gradient: linear-gradient(135deg, var(--primary) 0%, var(--secondary) 100%);
    --text-main: #2b2b2b;
    --text-sec: #6b7280;
    --main-radius : 6px;
    --section-padding: 50px;
    --transition-duration: 0.3s;
    --btn-primary-hover: #00577a;
    --btn-accent-hover: #cc9a44;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Cairo", "Noto Naskh Arabic", sans-serif;
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}
a {
    text-decoration: none;
    cursor: pointer;
}
ul {
    list-style: none;
}
main {
    min-height: 100vh;
    margin-top: 50px;
}
section {   
    padding: var(--section-padding) 0;
}
@media (max-width: 768px) {
    * {
        -webkit-user-select: none;
        user-select: none;
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
.showTheElements {
    opacity: 1 !important;
}
.spacial-Title {
    font-size: 30px;
    width: fit-content;
    margin: 0 auto 35px;
    position: relative;
    color: var(--accent);
}
@media (min-width:768px) {
    .spacial-Title {
        font-size: 40px;
    }
    .spacial-Title img {
        width: 100px;
    }
}
.spacial-Title img {
    position: absolute;
    right: -10px;/* Change with Language */
    top: 50%;/* Change with Language */
    transform: translate(100%,-50%);/* Change with Language */
    width: 50px;
    filter: drop-shadow(2px 3px 3px #1111118e);
}
.text {
    text-align: center;
    margin-bottom: 30px;
    line-height: 1.6;
    font-size: 20px;
}
/* #endregion Global Rules */
/* #region header */
header {
    background-color: var(--primary);
    height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000000;
}
header .container {
    display: flex;
    height: 50px;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .logo img {
    width: 45px;
}
header .homePageMenu > a {
    color: white;
    padding-left: 15px;
    transition: var(--transition-duration);
}
header .homePageMenu a:hover {
    color: var(--accent);
}
.showMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    background-color: var(--accent);
}
header :is(.check-menu,.menu,#choose-menu,.choose-menu,.menu-links) {
    display: none;
}
@media (max-width: 767px) {
    header .container {
        justify-content: space-between;
    }
    header .menu {
        box-sizing: border-box;
        width: 58px;
        height: 50px;
        display: grid !important;
        gap: 5px;
        padding: 11px;
        overflow: hidden;
    }
    .menu span {
        width: 100%;
        border-radius: 5px;
        background-color: var(--secondary);
        transition: 0.25s;
    }
    header .check-menu:checked + .menu > span:nth-child(2) {
        opacity: 0;
    }
    header .check-menu:checked + .menu > span:not(:nth-child(2)) {
        background-color: #FF4500;
    }
    header .container .homePageMenu {
        display: none;
    }
    header .container .check-menu:checked ~ .homePageMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 300px;
        max-width: 90%;
        z-index: 10;
        background-color: #054a6573;
    }
    header .container .homePageMenu > :is(a,label.choose-menu) {
        color: white;
        border-bottom: 1px solid white;
    }
    header .homePageMenu :is(label.choose-menu,.menu-links) {
        display: block !important;
    }
    header .homePageMenu label.choose-menu {
        height: 60px;
    }
    header .homePageMenu .choose-menu i {
        padding: 0 10px;
    }
    header .homePageMenu .menu-links {
        transition: var(--transition-duration);
        height: 0;
        overflow: hidden;
    }
    header .homePageMenu .menu-links a {
        color: white;
        border-bottom: 1px solid white;
        display: flex;
        align-items: center;
        height: 0;
        overflow: hidden;
        opacity: 0;
    }
    header .homePageMenu input#choose-menu:checked ~ .menu-links {
        height: 120px;
    }
    header .homePageMenu input#choose-menu:checked ~ .menu-links a {
        height: 60px;
        opacity: 1;
    }
}
/* #endregion header */
/* #region footer */
footer {
    background-color: var(--bg-dark);
    color: white;
}
footer .container {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (max-width:767px) {
    footer .container {
        flex-direction: column;
    }
    footer .container > :is(div,ul)  {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
footer .brand-name {
    padding: 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer .brand-name img.logo {
    width: 60px;
    border-radius: 6px;
}
footer .brand-name span {
    font-weight: bold;
    font-size: 25px;
    color:var(--accent);
}
footer p.description {
    max-width: 250px;
    line-height: 1.6;
    margin-bottom: 10px;
}
footer p.description + p {
    text-align: center;
}
footer a {
    color: white;
    transition: var(--transition-duration);
}
footer .social-links {
    margin: 10px 0;
    text-align: center;
}
/* #region Change the background of the icons when hovering */
footer .social-links a:first-child:hover {
    background: linear-gradient( 135deg, #075E54, #128C7E, #25D366);
}
footer .social-links a:nth-child(2):hover {
    background: #000;
    color: #000;
    text-shadow: 
        -1.5px -1.5px 0 #FF0050,
        1.5px 1.5px 0 #00F2EA;
}
footer .social-links a:nth-child(3):hover {
    background: #833ab4;
    background: linear-gradient(135deg, #833ab4 20%, #fd1d1d, #fcb045);
}
footer .social-links a:nth-child(4):hover {
    background: #fffc00;
    color: #000;
}
footer .social-links a i {
    transition: var(--transition-duration);
}
footer .social-links a:hover i {
    transform: scale(1.1);
}
/* #endregion Change the background of the icons when hovering */
footer .social-links a {
    display: inline-flex;
    border-radius: 50%;
    background: var(--bg-gradient);
    font-size: 20px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
}
footer .nav {
    display: flex;
    flex-direction: row !important;
    justify-content: space-evenly;
    align-items: flex-start !important;
    gap: 20px;
}
footer ul.nav-links a {
    padding: 0 7px;
}
footer ul.nav-links a:hover {
    text-decoration: underline;
}
footer ul.nav-links li::marker {
    font-family: "Font Awesome 5 Free";
    content: "\F100";
    font-weight: 900;
    color: var(--secondary);
}
footer ul.nav-links li {
    transition: var(--transition-duration) !important;
    list-style-position: inside;
}
@media (max-width:767px) {
    footer ul.nav-links {
        gap: 7px;
        align-items: flex-start;
    }
    footer .nav {
        border-top: 1px solid #ffffff30;
    }
}
footer ul:has(.numbers) {
    padding: 30px 0;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    row-gap: 30px;
}
footer ul:has(.numbers) i {
	padding: 10px;
}
footer ul:has(.numbers) li {
    width: fit-content;
}
footer ul:has(.numbers) li:nth-child(2) {
    text-wrap: nowrap;
}
footer ul li.numbers {
    display: flex;
    align-items: center;
    gap: 10px;
}
footer ul li.numbers div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    direction: ltr;
}
footer li .book-now {
    padding: 5px 10px;
    background: var(--bg-gradient);
    border-radius: 10px;
}
footer li .Language-switch {
    padding: 5px 20px;
    border-radius: 10px;
    background:  linear-gradient(135deg, #b58229 0%, #fad97e 100%);
}
footer .Copyright {
    text-align: center;
    padding: 20px 0;
    border-top: 1px solid var(--text-sec);
}
footer .Copyright p {
    padding-bottom: 10px;
}
footer .Copyright a {
    color: var(--accent);
    font-weight: bold;
}
@media (min-width:992px) {
    footer .container {
        justify-content: space-evenly;
    }
    footer .nav-links {
        margin-top: 20px;
    }
    footer .nav-links li {
        margin-bottom: 15px;
    }
    footer .social-links a {
        margin: 6px;
    }
    footer ul:has(.numbers) {
        grid-template-columns: auto;
    }
    footer .book-now {
        margin: 10px 0;
    }
}
@media (max-width:991px) {
    footer .container {
        justify-content: space-between;
    }
    footer .nav-links {
        margin-top: 20px;
    }
    footer .nav-links li {
        margin-bottom: 15px;
    }
    footer .social-links a {
        margin: 6px;
    }
    footer ul:has(.numbers) {
        grid-template-columns: auto;
    }
}
/* #endregion footer */

